{% extends "content/Header.twig" %}

{% block content %}

    <div class="grid_contact" style="padding-top: 120px">

        <div class="location">
            <div>
                <div class="title_1">

                </div>
                <div class="parrafo2">



                    <div class="img_Email_Contact">
                        <img src="{{ getAssets('img/Email.png') }}" class="fondo_2">
                    </div>
                </div>

            </div>
        </div>


        <div class="form_contact">
            <div>
                <div class="title_1">


                </div>
                <div class="parrafo">
                    <p>
                        We hire based on the potential we see in people, so here, you will be trusted and we will help you get to that job that enhances your ability
                    </p>
                    <hr>
                </div>

            </div>


            <form action="/Email" method="post">

                <div class="grid_2">

                    <div class="space_1">

                        <label for="id1">FIRST NAME</label>
                        <input type="text" class="input" name="name" id="id1">
                        <label for="id2">EMAIL ADDRESS *</label>
                        <input type="text" class="input" name="email" id="id2">
                    </div>

                    <div class="space_1">
                        <label for="id5">LAST NAME</label>
                        <input type="text" class="input" name="lasname" id="id5">
                        <label for="id6">PHONE NUMBER</label>
                        <input type="text" class="input" name="phone" id="id6">
                    </div>

                </div>

                <div class="space_2">
                    <label for="id6">SPECIALTY</label>
                    <input type="text" class="input" name="specialty" id="id6">
                </div>



                <div class="space_2">
                    <input type="submit" class="input btn" value="Enviar">
                </div>

            </form>


        </div>


    </div>

    <footer class="container_grid_1 footer">

        <div class="Logo">

            <img src="{{ getAssets('icon/logo.png') }}" alt="" class="Logo">
        </div>
        <div class="content">
            <h2>Servicios</h2>
            <hr>
            <br>
            <div>
                Metal Stud framing <br>
                Drywall hanging and finishing<br>
                Finish Carpenters<br>
                Painting and Specials Finishes<br>
                General Labors<br>
            </div>


        </div>
        <div class="content">
            <h2>Contacto</h2>
            <hr>

            <div>
                <p>
                    <b>Email</b><br>
                    Info@soecg.com<br><br>

                    <b>Direction</b><br>
                    2828 Michigan Ave Unit 108 Kissimmee Fl 34744<br><br>

                    <b>Phone</b><br>
                    +1 786 609 3645

                </p>
            </div>

        </div>
        <div class="content">
            <img src="{{ getAssets('icon/facebook.png') }}" alt="" class="icon">
            <img src="{{ getAssets('icon/instagram.png') }}" alt="" class="icon">
            <img src="{{ getAssets('icon/linkedin.png') }}" alt="" class="icon">
            <img src="{{ getAssets('icon/twitter.png') }}" alt="" class="icon">

        </div>

    </footer>


{% endblock %}