{% extends "content/Header.twig" %}

{% block content %}
    <style>

    </style>
    <div class="container">

        <div class="content1">

            <div class="vacio">

            </div>


            <div class="fondo">

                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                        <img src="{{ getAssets('img/img1.png') }}" class="fondo_2">
                        <div class="text">Caption Text</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="{{ getAssets('img/img2.png') }}" class="fondo_2">
                        <div class="text">Caption Two</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="{{ getAssets('img/img3.png') }}" class="fondo_2">
                        <div class="text">Caption Three</div>
                    </div>

                    <!-- Next and previous buttons -->

                </div>


                <div class="title_float"> LABOR SOLUTIONS</div>
            </div>

            <div class="vacio">

            </div>

        </div>

        <div class="sub_cabeza">
            <div class="sub_cabeza_1">
                Do You Have A Staffing Solution We Can Help With?
            </div>

        </div>

        <div class="title_1">
            We are a progressive company offering personnel services to all levels of employers. Hiring temporary
            labor
            is a cost-effective solution to the rising concerns associated with employment.
            <hr>
        </div>

        <div class="container_grid_1">

            <div>
                <div class="title_1">
                    Solutions for Business
                    <hr>
                </div>
                <div class="parrafo">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam eaque
                        enim
                        ipsum
                        iure, maiores minus modi mollitia nesciunt pariatur perspiciatis, possimus praesentium quod
                        ratione,
                        repellat rerum totam voluptatibus?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos, ex laboriosam pariatur
                        porro
                        tenetur? Aliquam consequatur dolore eius exercitationem explicabo ipsa ipsum nobis, odit
                        possimus
                        ut.
                        Ducimus, saepe tempora.
                    </p>
                </div>

            </div>

            <div>
                <div class="title_1">
                    Solutions for Individuals

                    <hr>
                </div>
                <div class="parrafo">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam eaque
                        enim
                        ipsum
                        iure, maiores minus modi mollitia nesciunt pariatur perspiciatis, possimus praesentium quod
                        ratione,
                        repellat rerum totam voluptatibus?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eos, ex laboriosam pariatur
                        porro
                        tenetur? Aliquam consequatur dolore eius exercitationem explicabo ipsa ipsum nobis, odit
                        possimus
                        ut.
                        Ducimus, saepe tempora.
                    </p>
                </div>
            </div>

        </div>


        <div class="container_grid_2" style="text-align: center">

            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fa fa-building'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>

                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fa fa-refresh'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>
                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fa-solid fa-house'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>
                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fas fa-car-side'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>
                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="container_grid_2" style="text-align: center">

            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fa fa-building'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>

                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fa fa-refresh'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>
                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fa-solid fa-house'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>
                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card_1">
                    <div class="position_grid_1">
                        <div class="i_desk">
                            <i class='fas fa-car-side'
                               style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>
                        </div>
                        <div class="title_2">
                            Admininstrative
                        </div>
                    </div>
                    <div class="position_grid_2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim neque officiis
                        voluptatem!
                        Asperiores consequuntur culpa dolores doloribus, ducimus ea enim nulla odio pariatur quod rerum
                        sint
                        unde veniam. Dolorem!
                        <a href="" class="search">Buscar</a>
                    </div>
                </div>
            </div>


        </div>


        <div class="container_grid_1 BG_C">

            <div>
                <div class="title_1">
                    Our Core Values
                </div>

                <div class="title_2 padding">
                    Meeting the challenge of changing personnel levels in today’s environment can be a real frustrating
                    experience. Labor Solutions can help you reduce this frustration by providing you with many options
                    in meeting your ever-changing needs. We provide 24/7 recruiting, interviewing, screening, skills
                    assessment, background checks, and drug screens. Labor Solutions provides worker compensation
                    coverage, we handle unemployment issues, light duty programs, along with payroll for our workers. We
                    also provide safety training and prevent a drop in productivity levels.
                    <br><br>
                    Labor Solutions believes that frequent and quality communication is the key to a successful
                    partnership, and we are dedicated to that goal. We are able to address any special needs you may
                    have and respond to them in a timely and efficient manner. We provide you with short and long-term
                    temporary workers, temp-to-perm, direct placement, and project or on-site programs, and we also have
                    employee leasing options. If you have a personnel need, we have the right solution for you!

                </div>
            </div>

        </div>


        <div class="container_grid_4 BG_C">

            <div class="card2">
                <div class="card_1">
                    <div class="position_grid_3">

                        <i class='fas fa-car-side'
                           style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>

                    </div>
                </div>
                <div class="position_grid_4">
                    Great Services
                </div>
            </div>


            <div class="card2">
                <div class="card_1">
                    <div class="position_grid_3">

                        <i class='fas fa-car-side'
                           style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>

                    </div>
                </div>
                <div class="position_grid_4">
                    Great Services
                </div>
            </div>

            <div class="card2">
                <div class="card_1">
                    <div class="position_grid_3">

                        <i class='fas fa-car-side'
                           style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>

                    </div>
                </div>
                <div class="position_grid_4">
                    Great Services
                </div>
            </div>

            <div class="card2">
                <div class="card_1">
                    <div class="position_grid_3">

                        <i class='fas fa-car-side'
                           style="color: #D4E9F8;font-size: 50px; text-shadow: #333333 12px 12px 12px;"></i>

                    </div>
                </div>
                <div class="position_grid_4">
                    Great Services
                </div>
            </div>

        </div>


        <div class="fondo1" >

            <div class="slideshow-container" style="background-image: url('{{ getAssets('img/slider2.png') }}')">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="{{ getAssets('img/img1.png') }}" class="fondo_2">
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="{{ getAssets('img/img2.png') }}" class="fondo_2">
                    <div class="text">Caption Two</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="{{ getAssets('img/img3.png') }}" class="fondo_2">
                    <div class="text">Caption Three</div>
                </div>

                <!-- Next and previous buttons -->

            </div>


            <div class="title_float"> LABOR SOLUTIONS</div>
        </div>


        <div class="container BG_C">

        </div>


        <footer class="container_grid_1">

            <div class="Logo">

            </div>
            <div class="content">

            </div>
            <div class="content">

            </div>
            <div class="content">

            </div>

        </footer>


    </div>

    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1
            }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 5000); // Change image every 2 seconds
        }
    </script>

{% endblock %}